body {
  background: #eff;
  margin: 0;
}

main { 
  max-width: 36em;
  border-radius: 1em;
  background: #cfc;
  padding: 2em;
  margin: 2em 2em auto 14em;
}

main .centered {
  display: block;
  margin: 0 auto 0 auto;
}

body nav {
  margin: 0;
  width: 12em;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 4px 16px #ccc;
  vertical-align: middle;
  border-radius: 0 0 1em;
  position: fixed;

  left: 0;
  top: 0;
}

nav .bar-button {
  padding: 1em;
  display: inline;
}

nav .bar-button a {
  text-decoration: none;
}

.nav-info {
  vertical-align: middle;
}

/* Google Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  vertical-align: middle;
}
