<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Exsemantica", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-slate-600">
    <header>
        <nav class="h-16 w-full drop-shadow-2xl bg-slate-300">
          <a href="/"><img class="float-left mt-2 ml-4 line-height-1 max-h-12" src={Routes.static_path(@conn, "/images/logo.png")} alt="ExSemantica Logo"/></a>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link "🛠️ To Phoenix LiveDashboard", class: "transition bg-orange-200 duration-0 hover:duration-200 hover:bg-orange-100 rounded-xl float-right m-3 p-2", to: Routes.live_dashboard_path(@conn, :home) %>
          <% end %>
        </nav>
    </header>
    <%= live_render @conn, ExsemanticaWeb.PageLive %>
  </body>
</html>
