<.flash_group flash={@flash} />
<div class="flex m-12">
  <main class="bg-gray-200 m-8 p-8 shadow-2xl w-2/3 h-min">
    <h1 class="text-2xl p-4">/u/<%= @user.handle %>'s feed</h1>
    <.user_main user={@user} />
  </main>
  <aside class="bg-slate-200 m-8 p-8 shadow-2xl w-1/3 h-min">
    <.user_side user={@user} />
  </aside>
</div>
