<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/res/app.css">
    <title>ExSemantica - <%= intent %></title>
  </head>
  <body class="bg-slate-600">
    <nav class="h-16 w-full drop-shadow-2xl bg-slate-300">
      <a href="/"><img class="float-left mt-2 ml-4 line-height-1 max-h-12" src="/res/logo.png"></a>
    </nav>
    <div class="m-16 p-8">
      <main class="bg-indigo-300 rounded-lg drop-shadow-xl p-8">
        <h1 class="text-2xl"><%= intent %></h1>
        <br>
        <%= main %>
        <br>
        <br>
        <p><a href="/" class="underline decoration-sky-600 text-sky-600">Click here to go back to the homepage</a></p>
      </main>
    </div>
    <footer class="text-sm text-center mb-6">
      ExSemantica v<%= Application.spec(:exsemantica, :vsn) %> with IndigoChild theme - <a href="https://github.com/Chlorophytus/exsemantica" class="underline decoration-sky-600 text-sky-600">Fork me on GitHub!</a><br>
    </footer>
  </body>
</html>
