<div class="py-16 z-0 m-0 flex">
  <main class="bg-gray-200 m-8 p-8 shadow-2xl w-2/3 h-min">
    Nothing here...
  </main>
  <.live_component module={ExsemanticaWeb.Components.Trending} id="trending" trends={@trends} />
</div>
