<footer class="text-xs text-center">
  <a class="text-blue-800" href="https://github.com/ExSemantica/ExSemantica">
    ExSemantica <%= :persistent_term.get(Exsemantica.Version) %>
  </a>
  - <%= gettext("loaded in %{time}ms", time: @time) %>
</footer>
