<div
  class="absolute w-screen h-screen bg-white z-50 duration-300 flex"
  id="loader"
  phx-remove={JS.transition("opacity-0", to: "#loader")}
>
  <div class="m-auto text-3xl animate-pulse">Loading...</div>
</div>
