<footer class="text-xs text-center">
  ExSemantica <%= :persistent_term.get(Exsemantica.Version) %> -
  <a class="text-blue-800" href="https://github.com/ExSemantica/ExSemantica">
    Fork me on GitHub!
  </a> - loaded in <%= @time %>ms
</footer>