<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExsemanticaPhx", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-blue-100">
  <div class="grid grid-cols-4 gap-4" x-data="{ open: false }">
    <nav class="col-start-1 col-end-2" role="navigation">
      <button @click="open = true" class="text-center mt-4 mb-2 p-2 rounded-r-md bg-indigo-400 shadow-lg w-full hover:bg-indigo-500">Log in/Register</button><br>
      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
        <%= button "Administrate", to: Routes.live_dashboard_path(@conn, :home), method: "get", class: "text-center mb-2 p-2 rounded-r-md bg-indigo-400 shadow-lg w-full hover:bg-indigo-500" %>
      <% end %>
    </nav>
    <div class="col-start-2 col-span-3">
      <%= @inner_content %>
    </div>
    <div x-show.transition="open" x-transition:enter-start="opacity-0" x-transition:leave-end="opacity-0" x-transition:enter-end="opacity-25" class="absolute w-screen h-screen opacity-25 bg-purple-500"></div>
    <div x-show="open" class="absolute flex w-screen h-screen justify-center items-center">
      <span @click.away="open = false" class="bg-purple-400 rounded-xl p-8 shadow-xl w-1/2 items-center">
        <div id="motd" class="text-center w-full rounded-lg shadow-lg bg-red-500"></div><br>
        <form>
          <label class="m-2" for="email">Email</label><br>
          <input class="w-full rounded-full shadow-lg p-2 bg-blue-100" type="email" id="email"><br>
          <label class="m-2" for="password">Password</label><br>
          <input class="w-full rounded-full shadow-lg p-2 bg-blue-100" type="password" id="password"><br><br>
          <button type="button" class="w-full rounded-full shadow-lg p-4 bg-indigo-400 hover:bg-indigo-500" onclick="checkLogin()">Login/Register</button>
        </form>
      </span>
    </div>
  </div>
  </body>
</html>
